.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    & > * {
        margin-left: 10px;
        padding: 10px;
        cursor: pointer;
    }
}
