@import "../../../assets/scss/setup/variables";

.locate-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    font-weight: 700x;
    border: 2px solid $blue;
    cursor: pointer;
    padding: 8px;
    border-radius: 12px;
    background-color: $blue;
    color: white;
    font-weight: 600;
}
