// Colors
$blue: #0063b3;
$light-blue: #83b3db;
$black: #2e2f30;
$white: #e6e7e8;
$red: #e9502a;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;
