// Colors
$clr1: #212529;
$clr2: #343a40;
$clr3: #495057;
$clr4: #adb5bd;
$clr5: rgb(242, 242, 242);
$clr6: #BFFCF9;
$clr7: #374B43;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;