// color palette:
// blue: #0063B3
// white: #e6e7e8
// red: #e9502a
// black: #2e2f30
// light blue: #83b3db

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    color: #0063B3;
}

body {
    margin: 10px;
    background-color: #e6e7e8;
}